body, html {
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

/** navbar */

.navbar {
    height: 15vh;
    background-color: #000;
    text-align: center;
    font-size: 3em;
}

/** container */

.container {
    background-color: #000;
}

/** flex-container */

.flex-container {
    height: 100vh;
    background: url("images/TBN01_050709_lD_Rock_2MP_V2.jpg") no-repeat bottom right fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
}

/** name */

.name {
    color: #000;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.btn {
    background-color: #94b6c4;
    margin: 1em;
    padding-top: 10px;
    display: inline-block;
}
.btn--cta {
    font-weight: bold;
    border-radius: 14px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}
.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
}
