body, html {
    font-family: "Roboto", sans-serif;
    background-color: #d0d5d9;
    margin: 0px;
    padding: 0px;
}

/** navbar */

.navbar {
    height: 15vh;
    background-color: #4a4a4f;
    padding-top: 1em;
    opacity: 0.75;
    text-align: center;
    font-size: 3em;
    color: #d0d5d9;
}

/** container */

.container {
    background-color: #000;
    opacity: 0.65;
}



/** flex-container */

.flex-container {
    height: 100vh;
    background: url("images/CMS front page image 3.png") no-repeat bottom right fixed;
    padding: 15px;
    opacity: 0.75;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    position: inherit;
}

/** box */
.box1 {
    background-color: #733646;
    color: #fff;
    display: inline-block;
    height: 50%;
    width: 33%;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0px;
    text-align: center;
}
.box2 {
    background-color: #5176a6;
    color: #fff;
    display: inline-block;
    height: 50%;
    width: 33%;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    text-align: center;
}
.box3 {
    background-color: #6f9abf;
    color: #fff;
    display: inline-block;
    height: 50%;
    width: 33%;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
    text-align: center;
}

/** name */

.name {
    color: #000;
    background-color: #4a4a4f;
    margin: 0px;
    padding: 10px;
    text-align: center;
    font: "Roboto";
}

.btn {
    background-color: #94b6c4;
    border: 3px;
    border-color: #000;
    font: "Roboto";
    margin: 1em;
    padding-top: 14px;
    display: inline-block;
}
.btn--cta {
    font-weight: bold;
    border-radius: 16px;
    width: 160px;
}

.btn--red {
    color: #94b6c4;
    background-color: #5176a6;
    border-color: #5176a6;
}
.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #6f9abf;
    border-color: #6f9abf;
    color: #000;
    font-family:"Consolas";
    transition-delay: .2s;
    transition-duration: .1s;
}

.footer {
    height: 20vh;
    color: #fff; 
    background-color: #4a4a4f;
    opacity: 0.55;
}
