body, html {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #fff;
    margin: 0px;
    padding: 0px;
}

/** navbar */

.navbar {
    height: 15vh;
    background-color: #1b2226;
    padding-top: 1em;
    text-align: center;
    font-size: 3em;
}

/** container */

.container {
    background-color: #000;
}

/** flex-container */

.flex-container {
    height: 100vh;
   /** background: url("images/TBN01_050709_lD_Rock_2MP_V2.jpg") no-repeat bottom right fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover; */
}

/** name */

.name {
    color: #000;
    background-color: #1b2226;
    margin: 0px;
    padding: 10px;
    text-align: center;
    font: "Roboto";
}

.btn {
    background-color: #94b6c4;
    font: "Roboto";
    margin: 1em;
    padding-top: 10px;
    display: inline-block;
}
.btn--cta {
    font-weight: bold;
    border-radius: 16px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #5176a6;
    border-color: #5176a6;
}
.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #d0d5d9;
    border-color: #d0d5d9;
    color: #000;
    transition-delay: .3s;
    transition-duration: .2s;
}
